body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}
.p1 {
  font-family: Arial, Helvetica, sans-serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: Arial, Helvetica, monospace;
}
h1 {
  text-align: center;
}

.product {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}
